@{
    ViewData["Title"] = "Home Page";
}

<div style="
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
">
    <h3 class="display-4">Mise à jour de la base de données effectuée !</h3>
</div>
